<!-- templates/index.html -->

{% extends '_base.html' %}

{% block content %}
  <div style="text-align:center;">
    {% if current_user.is_authenticated %}
      <h1>You are logged in as {{current_user.username}}</h1>
      <br><br>
      <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
    {% else %}
      <!-- GitHub button starts here -->
      <a href="{{url_for('login_github')}}"  class="btn btn-secondary">
        <i class="fa fa-github fa-fw"></i>
        <span>Login with GitHub</span>
      </a>
      <!-- GitHub button ends here -->

      <!-- Twitter button starts here -->
      <a href="{{url_for('login_google')}}"  class="btn btn-primary">
        <i class="fa fa-google fa-fw"></i>
        <span>Login with Google</span>
      </a>
      <!-- Twitter button ends here -->
    {% endif %}
  </div>
{% endblock content %}
